{% extends 'base.html' %}
{% block content %}
<div class="card-group">
  <div class="card">
    <a href="{% url 'map:seoul' %}">
    <img src="/static/img/008.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-map-marked-alt"></i> 정신건강 관련 기관 지도</h5>
      <p class="card-text">각 시도마다의 정신건강 관련 기관을 지도에 시각화하여 정보 제공</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <a href="{% url 'review:index' %}">
    <img src="/static/img/009.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-heart"></i> 정신건강 관련 기관 후기</h5>
      <p class="card-text">기관에 대한 설명 및 후기 작성하는 기능을 통해 정보 손쉽게 공유</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <a href="#">
    <img src="/static/img/007.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-tasks"></i> 정신건강 기사 크롤링</h5>
      <p class="card-text">정신건강 키워드를 포함한 뉴스 제목과 링크를 크롤링 하여 읽을거리를 제공</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<!-- /static/img/cover.png -->
{% endblock %}