{% extends 'base.html' %}
{% block content %}
<div class="card-group">
  <div class="card">
    <a href="{% url 'map:seoul' %}">
    <img src="/static/img/008.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-map-marked-alt"></i> <b>정신건강 관련 기관 지도</b></h5>
      <p class="card-text">각 시도마다의 정신건강 관련 기관을 지도에 시각화하여 정보 제공</p>
      <p class="card-text"><small class="text-muted">현재 서울시, 청소년상담복지센터(전국) 지도를 제공하고 있습니다.</small></p>
    </div>
  </div>
  <div class="card">
    <a href="{% url 'review:index' %}">
    <img src="/static/img/009.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-heart"></i> <b>정신건강 관련 기관 후기</b></h5>
      <p class="card-text">기관에 대한 설명 및 후기 작성하는 기능을 통해 정보 손쉽게 공유</p>
      <p class="card-text"><small class="text-muted">정신건강 관련 기관의 나이대별 후기를 확인할 수 있습니다.</small></p>
    </div>
  </div>
  <div class="card">
    <a href="#">
    <img src="/static/img/007.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-tasks"></i> <b>정신건강 기사 크롤링</b></h5>
      <p class="card-text">정신건강 키워드를 포함한 뉴스 제목과 링크를 크롤링 하여 읽을거리를 제공</p>
      <p class="card-text"><small class="text-muted">정신건강 기사와 함께 국가정신건강정보포털의 유익한 정보를 얻을 수 있습니다. </small></p>
    </div>
  </div>
</div>
<!-- /static/img/cover.png -->
{% endblock %}