{% extends 'base.html' %}
{% load review_filter %}
{% block content %}
<div class="row">
    <div class="col-md-7 my-3">
        <h2 class="mx-3 border-bottom py-2">{{ institution.subject }}</h2>
        <div class="mx-3 card my-3">
            <div class="card-body" style="background-color: #F8F9FA">
                <img src="/static/img/relaxation.jpg" class="card-img-top" alt="...">
                <div class="card-text" style="white-space: pre-line;">
                    {{ institution.content|mark }}
                    {{ institution.text|mark }}
                </div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2">
                        <!-- 작성 일자 : {{ institution.create_date }} -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 my-3">
        <h5 class="mx-3 border-bottom my-3 py-2"><i class="fas fa-heart"></i> {{institution.review_set.count}}개의 후기가 있습니다.</h5>
        {% for review in institution.review_set.all %}
        <div class="mx-3 card my-3" style="background-color: #F8F9FA">
            <div class="card-body">
                <div class="card-text">
                    {% if 10 == review.age %}
                    <span class="badge bg-primary">{{ review.age }}대</span> {{ review.content|mark }}
                    {% elif 20 == review.age %}
                    <span class="badge bg-success">{{ review.age }}대</span> {{ review.content|mark }}
                    {% elif 30 == review.age %}
                    <span class="badge bg-warning text-dark">{{ review.age }}대</span> {{ review.content|mark }}
                    {% elif 40 == review.age %}
                    <span class="badge bg-info text-dark">{{ review.age }}대</span> {{ review.content|mark }}
                    {% elif 50 == review.age %}
                    <span class="badge bg-light text-dark">{{ review.age }}대</span> {{ review.content|mark }}
                    {% else %}
                    <span class="badge bg-secondary">{{ review.age }}대</span> {{ review.content|mark }}
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2">
                        작성 일자 : {{ review.create_date }}
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if request.user == review.author %}
                    <a href="{% url 'review:review_modify' review.id  %}" 
                       class="btn btn-sm btn-light">수정</a>
                    <a href="javascript:void(0)" class="delete btn btn-sm btn-light"
                        data-uri="{% url 'review:review_delete' review.id  %}">삭제</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- 답변 등록 -->
        <h5 class="mx-3 border-bottom my-3 py-2"><i class="fas fa-heart"></i> 후기 등록하기</h5>
        <form action="{% url 'review:review_create' institution.id %}" method="post" class="my-3">
            {% csrf_token %}
            <div class="mx-3 mb-3">
                <label for="age" class="form-label">연령대</label>
                <p><input type="text" class="form-label" name="age" id="age" min="2" max="10" placeholder="ex) 20" style="border-radius: 10px; border: 1px solid lightgrey; height: 60px; padding: 10px; text-align: center;"></p>
                <label for="content" class="form-label">후기 내용</label>
                <textarea {% if not user.is_authenticated %}disabled{% endif %}
                    name="content" id="content" class="form-control" rows="5"></textarea>
            </div>
            <div class="mx-3 d-grid gap-2">
                <input type="submit" value="후기등록" class="btn btn-secondary">
            </div>
        </form>
        
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
{% endblock %}